{% load static %}
<!DOCTYPE html>
<html>
	
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Jobseek - Job Board Responsive HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">

		{% block title %}
		<title>Jobseek - Job Board Responsive HTML Template</title>
		{% endblock %}

		<link rel="shortcut icon" href="images/favicon.png">

		<!-- Main Stylesheet -->
		<link href="{% static "css/style.css" %}" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="{% static "js/html5shiv.js" %}"></script>
		<script src="{% static "js/respond.min.js" %}"></script>
		<![endif]-->

	</head>
	<body id="home">

		<!-- ============ PAGE LOADER START ============ -->
		{% block loader %}
		<div id="loader">
			<i class="fa fa-cog fa-4x fa-spin"></i>
		</div>
		{% endblock %}

		<!-- ============ PAGE LOADER END ============ -->

		<!-- ============ NAVBAR START ============ -->
		{% block navbar %}
		<div class="fm-container">
			<!-- Menu -->
			<div class="menu">
				<div class="button-close text-right">
					<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
				</div>
				<ul class="nav">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="jobs.html">Jobs</a></li>
					<li><a href="post-a-job.html">Post a job</a></li>
					<li><a href="candidates.html">Candidates</a></li>
					<li><a href="post-a-resume.html">Post a Resume</a></li>
					<li><a href="#">Pages</a>
						<ul>
							<li><a href="job-details.html">Job Details</a></li>
							<li><a href="resume.html">Resume</a>
								<ul>
									<li><a href="#">Submenu 1</a></li>
									<li><a href="#">Submenu 1</a></li>
								</ul>
							</li>
							<li><a href="company.html">Company</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="post.html">Single Post</a></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="testimonials.html">Testimonials</a></li>
							<li><a href="options.html">Options</a></li>
						</ul>
					</li>
					<li><a class="link-register">Register</a></li>
					<li><a class="link-login">Login</a></li>
				</ul>		
			</div>
			<!-- end Menu -->
		</div>
		{% endblock %}

		<!-- ============ NAVBAR END ============ -->

		<!-- ============ HEADER START ============ -->
		{% block header %}
		<header>
			<div id="header-background"></div>
			<div class="container">
				<div class="pull-left">
					<div id="logo"><a href="index.html"><img src="{% static "images/logo.png" alt="Jobseek - Job Board Responsive HTML Template" %}" /></a></div>
				</div>
				<div id="menu-open" class="pull-right">
					<a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
				</div>
				<div id="searchbox" class="pull-right">
					<form>
						<div class="form-group">
							<label class="sr-only" for="searchfield">Searchbox</label>
							<input type="text" class="form-control" id="searchfield" placeholder="Type keywords and press enter">
						</div>
					</form>
				</div>
				<div id="search" class="pull-right">
					<a><i class="fa fa-search fa-lg"></i></a>
				</div>
			</div>
		</header>
		{% endblock %}
		<!-- ============ HEADER END ============ -->

		<!-- ============ SLIDES START ============ -->
		{% block mainContent%}

		<!-- ============ Content of each page should be written in this block ============ -->

		{% endblock %}
		<!-- ============ FOOTER START ============ -->

		<footer>
			<div id="prefooter">
				<div class="container">
					<div class="row">
						<div class="col-sm-6" id="newsletter">
							<h2>Newsletter</h2>
							<form class="form-inline">
								<div class="form-group">
									<label class="sr-only" for="newsletter-email">Email address</label>
									<input type="email" class="form-control" id="newsletter-email" placeholder="Email address">
								</div>
								<button type="submit" class="btn btn-primary">Sign up</button>
							</form>
						</div>
						<div class="col-sm-6" id="social-networks">
							<h2>Get in touch</h2>
							<a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="credits">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							&copy; 2015 Jobseek - Responsive Job Board HTML Template<br>
							Designed &amp; Developed by <a href="http://themeforest.net/user/Coffeecream" target="_blank">Coffeecream Themes</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- ============ FOOTER END ============ -->

		<!-- ============ LOGIN START ============ -->

		<div class="popup" id="login">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Login</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Sign In with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Sign In with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Sign In with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="login-username">Username</label>
						<input type="text" class="form-control" id="login-username">
					</div>
					<div class="form-group">
						<label for="login-password">Password</label>
						<input type="password" class="form-control" id="login-password">
					</div>
					<button type="submit" class="btn btn-primary">Sign In</button>
				</form>
			</div>
		</div>

		<!-- ============ LOGIN END ============ -->

		<!-- ============ REGISTER START ============ -->

		<div class="popup" id="register">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Register</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Register with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Register with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Register with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="register-name">Name</label>
						<input type="text" class="form-control" id="register-name">
					</div>
					<div class="form-group">
						<label for="register-surname">Surname</label>
						<input type="text" class="form-control" id="register-surname">
					</div>
					<div class="form-group">
						<label for="register-email">Email</label>
						<input type="email" class="form-control" id="register-email">
					</div>
					<hr>
					<div class="form-group">
						<label for="register-username">Username</label>
						<input type="text" class="form-control" id="register-username">
					</div>
					<div class="form-group">
						<label for="register-password1">Password</label>
						<input type="password" class="form-control" id="register-password1">
					</div>
					<div class="form-group">
						<label for="register-password2">Repeat Password</label>
						<input type="password" class="form-control" id="register-password2">
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>

		<!-- ============ REGISTER END ============ -->

		<!-- Modernizr Plugin -->
		<script src="{% static "js/modernizr.custom.79639.js" %}"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>

		<!-- Bootstrap Plugins -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>

		<!-- Retina Plugin -->
		<script src="{% static "js/retina.min.js" %}"></script>

		<!-- ScrollReveal Plugin -->
		<script src="{% static "js/scrollReveal.min.js" %}"></script>

		<!-- Flex Menu Plugin -->
		<script src="{% static "js/jquery.flexmenu.js" %}"></script>

		<!-- Slider Plugin -->
		<script src="{% static "js/jquery.ba-cond.min.html" %}"></script>
		<script src="{% static "js/jquery.slitslider.js" %}"></script>

		<!-- Carousel Plugin -->
		<script src="{% static "js/owl.carousel.min.js" %}"></script>

		<!-- Parallax Plugin -->
		<script src="{% static "js/parallax.js" %}"></script>

		<!-- Counterup Plugin -->
		<script src="{% static "js/jquery.counterup.min.js" %}"></script>
		<script src="{% static "js/waypoints.min.js" %}"></script>

		<!-- No UI Slider Plugin -->
		<script src="{% static "js/jquery.nouislider.all.min.js" %}"></script>

		<!-- Bootstrap Wysiwyg Plugin -->
		<script src="{% static "js/bootstrap3-wysihtml5.all.min.js" %}"></script>

		<!-- Flickr Plugin -->
		<script src="{% static "js/jflickrfeed.min.js" %}"></script>

		<!-- Fancybox Plugin -->
		<script src="{% static "js/fancybox.pack.js" %}"></script>

		<!-- Magic Form Processing -->
		<script src="{% static "js/magic.js" %}"></script>

		<!-- jQuery Settings -->
		<script src="{% static "js/settings.js" %}"></script>


	</body>

<!-- Mirrored from www.coffeecreamthemes.com/themes/jobseek/site/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Dec 2018 16:20:36 GMT -->
</html>
