{% extends "ResumeParsing/layout.html" %}
{% load static %}

<!-- ==============Login Form Start Here ============== -->
{%block mainContent%}
<section id="login">
	<div class="container">
		<div class="row text-center">
			<h1>Login Here</h1>
			{% if message %}	
			<div class="{{ messageType }}">
					{{message}}
				</div>
			{% endif %}
		</div>
		<div class="row">
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}		
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" name="userName" id="userName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
						<input type="password" name="userPassword" id="userPassword" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" name="submit" value="Login" class="btn btn-success">
				</div>

			</form>
		</div>
	
	</div>
</section>

{% endblock %}
